.bgimg {
    background-position: center;
    background-size: cover;
}

.about-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 48px;
    color: red;
}

.about{
    text-align: center;
}