.bgimg {
    background-position: center;
    background-size: cover;
    display: flex;
}

.about-text{
    color: white;
    font-weight: bold;
}

.about{
    color: whitesmoke;
}

.jumbo-title{
    font-size: 60px;
}

.jumbotron{
    background-image: url(https://image.freepik.com/free-photo/men-s-hand-is-picking-up-cigarettes_38663-321.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


