@import "src/styles.scss";
.bgimg {
    background-position: center;
    background-size: cover;
    display: flex;
}

.lead{
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 1px 1px 2px #333; 
}

.display-1{
    color: whitesmoke;
    text-shadow: 1px 1px 2px #333; 
}

.jumbo-title{
    font-size: 60px;
}

.jumbotron{
    background-image: url(https://image.freepik.com/free-photo/men-s-hand-is-picking-up-cigarettes_38663-321.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 85vh;
    padding-top: 20vh;
}


