<meta name="viewport" content="width=device-width, initial-scale=1">

<body>


<div class="bgimg">
  <img class="mx-auto" src="../../../assets/images/50-reasons-to-stop-smoking-today-7x4 (1).jpg" alt="">
</div>              

  <!-- About Section -->
  <div class="about" id="about">
    <div class="about-title">About Us</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>

 