
<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h2 class="display-1 mt-3">STOP!</h2>
      <p class="lead py-3">
        Let's stop smoking and help us to make a world a better place.
      </p>
      <div class="join-button"><a class="btn btn-danger btn-lg" href="auth/register" role="button">Join Us</a></div>
  </div>
</div>
<div class="container m-t-md">
  <div class="row">
    <!-- Card -->
  <div class="col-md-4">
      <div class="card mb-3">
        <img class="card-img-top img-responsive mt-3" src="https://image.freepik.com/free-photo/close-up-pen-market-research_1098-3465.jpg" alt="Deer in nature" />
        <div class="card-body">
          <h4 class="card-title">Smoking Statistics</h4>
          <h6 class="text-muted">Anonymous</h6>
          <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="#" class="btn btn-danger mb-3">Read more</a>
        </div>
      </div>
    </div>
    <!-- .end Card -->
    <!-- Card -->
  <div class="col-md-4">
      <div class="card mb-3">
        <img class="card-img-top img-responsive mt-3" src="https://image.freepik.com/free-photo/close-up-pen-market-research_1098-3465.jpg" alt="Deer in nature" />
        <div class="card-body">
          <h4 class="card-title">Smoking Articles</h4>
          <h6 class="text-muted">Anonymous</h6>
          <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="#" class="btn btn-danger mb-3">Read more</a>
        </div>
      </div>
    </div>
    <!-- .end Card -->
    <!-- Card -->
  <div class="col-md-4">
      <div class="card mb-3">
        <img class="card-img-top img-responsive mt-3" src="https://image.freepik.com/free-photo/close-up-pen-market-research_1098-3465.jpg" alt="Deer in nature" />
        <div class="card-body">
          <h4 class="card-title">Smoking Help</h4>
          <h6 class="text-muted">Anonymous</h6>
          <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="#" class="btn btn-danger mb-3">Read more</a>
        </div>
      </div>
    </div>
    <!-- .end Card -->
  </div>
</div>

    

         
<!-- About Section -->
<!-- <div class="about" id="about">
  <div class="about-title">About Us</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.
  </p>
</div> -->