<div class="regis_box">
	<p class="regis_statement">Register</p>

	<form>
		<label>Username</label>
		<input type="text" name="Username" class="form_regis" placeholder="...">

		<label>E-mail</label>
    <input type="text" name="E-mail" class="form_regis" placeholder="...">
    
    <label>Password</label>
    <input type="text" name="Password" class="form_regis" placeholder="...">
    
    <label>Confirm Password</label>
    <input type="text" name="Confirm_Password" class="form_regis" placeholder="...">

		<input type="submit" class="regis_button" value="Register">
  </form>

</div>


<!-- ADD AGE WITH SCROLL & SMOKER STATUS & GENDER -->